<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../main.css" type="text/css">

</head>
<body>
    <div th:insert="fragments/_header :: header"></div>

    <h1> Step 1: Choose a pot</h1>
    <div class="main-image" id="step-one-image"></div>
    <p>The first step is choosing a pot for your new plant. Terracotta pots are good for allowing the soil to dry quickly to avoid root rot. Plastic pots work well for retaining more moister. Your pot choice depends on your growing environment.</p>
    <div th:insert="fragments/_footer :: footer"></div>

</body>
</html>