<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../main.css" type="text/css">

</head>
<body>
<div th:insert="fragments/_header :: header"></div>
    <h1>Step 2: Fill your pot with potting soil</h1>
    <div class="main-image" id="step-two-image"></div>

    <p>First, if your pot has a drainage hole, place coffee filter/toilet paper/screen over the hole so the growing medium doesnt wash out of it. Next fill your pot about 4/5ths of the way to the top of the pots rim with soil or whatever growing medium you choose. Level it off and keep some soil to the side for the next step.</p>
    <div th:insert="fragments/_footer :: footer"></div>

</body>
</html>