<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../main.css" type="text/css">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>

    <h1>Step 3: Bury the plant into the soil</h1>
    <div class="main-image" id="step-three-image"></div>

    <p> Use your hands to make a small hole in the soil large enough for the root ball of your plant. Onve the hole has been made. Gently set the root ball into the hole. Now take the remaining soil and fill the hole so that the roots are covered. Finally, pat the soild lightly around the roots/hole.</p>
    <div th:insert="fragments/_footer :: footer"></div>

</body>
</html>